* {
    font: normal 14px;
    font-family: Arial Tahoma 'Times New Roman';
    color: black;
    margin: 0;
    padding: 0;
}

body {
}

#wraper {
    padding-left: 10px;
    padding-right: 10px;
    width: 75%;
    height: 100%;
    margin: auto auto;
}

#header #banner {
    height: 150px;
    overflow: hidden;
    box-shadow: 0 0px 2px 0 #365899;
}

#masterContent {
    min-height: 890px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 #365899;
}

.mainMenu {
    margin: 0;
    padding: 0;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(to top,#c2bcb5,#ffffff);
}

    .mainMenu ul {
        list-style: none;
    }

        .mainMenu ul li {
            display: inline-block;
            height: 100px;
            line-height: 100px;
        }

            .mainMenu ul li a {
                display: block;
                text-decoration: none;
                text-align: center;
                color: black;
                font-weight: bold;
                padding: 0 22px;
            }

                .mainMenu ul li a:hover {
                    background-color: beige;
                }

.leftContent {
    float: left;
    width: 392px;
    color: black;
    min-height: 890px;
    border-radius: 5px;
}

.rightContent {
    float: right;
    width: 1328px;
    color: black;
    min-height: 890px;
    border-radius: 5px;
}

#footer {
    height: 150px;
    line-height: 60px;
    width: 100%;
    background: linear-gradient(to top,#c2bcb5,#ffffff);
    text-shadow: 0.1em 0.1em #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
}

#phuhieu {
    height: 220px;
    text-align: center;
    border-bottom: 1px solid #46aef5;
}

    #phuhieu img {
        width: 70%;
        height: 100%
    }

#banner img {
    width: 100%;
    height: 100%
}

#card #card-body {
    padding: 0px 0px;
}

.btn-group-vertical {
    width: 100%;
}

.card_body .btn-group-vertical .btn-primary {
    font-size: 13px;
    text-align: left;
}

#accordion {
    font-size: 20px;
}

.rightContent .navbar {
    justify-content: flex-end;
    background-color: #ffffff !important;
}
